
*{
    padding : 0rem;
    margin : 0rem;
    box-sizing : border-box;
}

:root{
    --body-backgroundColor : #9D3157;
    --player2Bck : #D8AFBE;
    --player1Bck : #B97A98;
    --btnColor : #C7365F;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--body-backgroundColor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    height: 95%;
    width : 90%;
    display: flex;
}

.mainContainer .player1, .mainContainer .player2{
    height : 100%;
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.mainContainer .player1{
    background-color : var(--player1Bck);
}

.mainContainer .player2{
    background-color : var(--player2Bck);
}

.mainContainer .playerCard{
    text-align: center;
}

.mainContainer .playerCard h2{
    margin-bottom: 0.8rem;
}

.mainContainer .playerCard p{
    color : var(--btnColor);
    font-size: 2.5rem;
}

.mainContainer .playerBtn{
    height : 110px;
    width : 35%;
    background-color: var(--btnColor);
    border-radius: 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.assets{
    height: 90%;
    position: absolute;
    right : 44.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assets i,p{
    display: inline-block;
}

.assets .dice img{
    width : 4rem;
    padding : 0.2rem;
}

.assets i{
    font-size: 1.5rem;
    color: var(--btnColor);
}

.assets .secondHalfAssets .hold{
    margin: 0.5rem 0rem;
}

.assets .newGame, .assets .secondHalfAssets .rollDice , .assets .secondHalfAssets .hold{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding : 0.5rem;
}

.assets .newGame, .assets .secondHalfAssets .rollDice , .assets .secondHalfAssets .hold :hover{
    cursor : pointer;
}